@font-face {
    font-family: 'Ocra';
    src: url('/fonts/Ocra/ocra-webfont.woff2') format('woff2'),
    url('/fonts/Ocra/ocra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}