.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $black;

    &-content {
        padding: 3px 0 5px;
        text-align: center;
        font-family: $family-ocra;
        text-transform: uppercase;
        font-size: 12px;
    }

    &-item {
        white-space: nowrap;
    }

    .highlight {
        color: $pink;
    }

    a {
        color: $yellow;

        &:hover, &:focus {
            color: $green;
        }
    }
}